 <div class="headerContainer">
	<div class="container-fluid">
		<nav class="headerBotContainer navbar navbar-expand-lg navbar-dark">
			<div class="ctn-container">
			    <a href="#" title="" id="logo" class="navbar-brand .col-lg-3"><img src="assets/images/logo.svg" alt="home">DABANKING</a>
			    <button class="navbar-toggler ToggleFload" type="button" data-toggle="collapse" data-target="#navbarSupportedContentLG" aria-controls="navbarSupportedContentLG" aria-expanded="false" aria-label="Toggle navigation">
			        <span class="navbar-toggler-icon"></span>
			    </button>
			    <button class="navbar-toggler ToggleFload" type="button" data-toggle="collapse" data-target="#navbarSupportedmenuleft" aria-controls="navbarSupportedContentLG" aria-expanded="false" aria-label="Toggle navigation">
			        <span><img src="assets/images/rank.png"></span>
			    </button>

			    <div class="collapse navbar-collapse" id="navbarSupportedContentLG">
			        <ul class="navbar-nav mr-auto">
			            <li class="nav-item" id="bar-li-1"><a [ngClass]="{active: activeRoute('/')}" routerLink="" >FOMO</a></li>
			            <li class="nav-item" id="bar-li-2"><a [ngClass]="{active: activeRoute('dice')}"routerLink="/dice" >DICE</a></li>
			            <li class="nav-item" id="bar-li-4"><a [routerLink]="" (click)="onClickCommingSoon()" >DUEL</a></li>
			            <li class="nav-item" id="bar-li-3"><a [routerLink]="" (click)="onClickCommingSoon()" >WATCH</a></li>
			            <li class="nav-item" id="bar-li-5" (click)="loadDividendTab()"><a [routerLink]="" data-toggle="modal" data-target="#Mydividens">DIVIDENS</a></li>
			            <li class="nav-item" id="bar-li-6"><a routerLink="" >GAME HISTORY</a></li>
			            <li ngbDropdown class="nav-item" id="bar-li-7"  placement="bottom-center">
			            	<a [routerLink]="" id="dropdownBasic1" ngbDropdownToggle>HELP</a>
							<div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
						        <a ngbDropdownItem href="https://web.telegram.org/" target="_blank">Telegram Group</a>
							    <a ngbDropdownItem href="https://discordapp.com/">Discord Group</a>
							    <a ngbDropdownItem href="#">FULL GUIDE</a>
							    <a ngbDropdownItem href="#">完整指南</a>
							    <a ngbDropdownItem href="#">フルガイド</a>
							    <a ngbDropdownItem href="#">FOMO GAME Contract</a>
							    <a ngbDropdownItem href="#">DICE GAME Contract</a>
							    <a ngbDropdownItem href="#">WATCH GAME Contract</a>
							    <a ngbDropdownItem href="#">DUEL GAME Contract</a>
							    <a ngbDropdownItem href="#">DABANKING GAME Contract</a>
							    <a ngbDropdownItem href="#">DABANKING Fomo Kit</a>
						    </div>

			            </li>
			            
			            <li class="nav-item" id="bar-li-9"><a routerLink="" >FAQs</a></li>
			            
			        </ul>
				    <div class="navloginRight">
				        <!-- <a href="#" id="login">login</a> -->
				    	<a *ngIf="!isLogin" href="#" id="wellcome" routerLink="" data-toggle="modal" data-target="#MyRegister">SIGNUP</a>
				    	<a *ngIf="isLogin" href="#" id="wellcome">WELLCOME {{username}}</a>
				    </div>
			    </div>
			</div>
		</nav>
	</div>
</div>

									<!-- Modal -->
<div id="Mydividens" class="modal fade" role="dialog" *ngIf="dividendTab!=undefined">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"><a routerLink="" style="text-decoration: none;color:#fff; font-weight: 800;"><img src="assets/images/logo.svg" alt="home" width="100px"><br>DABANKING</a></h4>
			</div>
			<div class="modal-body">
				<div class="ctn-dividens-body-part1">
					<h1>Stage {{dividendTab.currentLevel}}-{{dividendTab.currentRound}} (Win {{dividendTab.currentLevelWin}} ETH, or lose game and buy ticket {{dividendTab.currentLevelLose}} ETH to mine 1 DAA)</h1>
					<div class="ctn-body-from">
						<div class="progress">
							<div class="progress-bar" [style.width.%]="dividendTab.totalSupplyByLevel/200000*100" role="progressbar" aria-valuenow="200" aria-valuemin="0" aria-valuemax="200000">
							</div>
						</div>
						<span></span>
						<script src="assets/jquery.min.js"></script>
						<script src="assets/progress.js"></script>
					</div>
					<h1>Next stage (Win {{dividendTab.nextLevelWin}} ETH, or lose game and buy ticket {{dividendTab.nextLevelLose}} ETH to mine 1 DAA)</h1>
				</div>
				<div class="ctn-dividens-body-part2" data-dismiss="modal">
					<a routerLink="" data-dismiss="modal"  data-toggle="modal" data-target="#Myburn" class="ctn-burn">
						<img src="assets/images/burn-icon.png">
						<h3>burn</h3>
					</a>
					<h2>Available Dividends</h2>
					<h1>{{dividendTab.currentRoundDividendEth | ethDisplay}} ETH</h1>
					<p>A total of <span>{{dividendTab.totalFrozenBalance | usdDisplay}} DAA </span>is frozen across the network - You will receive <span> {{dividendTab.totalFrozenBalance==0?dividendTab.currentRoundDividendEthForCitizen:user.tokenFreezing*dividendTab.currentRoundDividendEthForCitizen/dividendTab.totalFrozenBalance | ethDisplay}} ETH</span></p>
					<p style="font-size: 25px"><img src="assets/images/divi-icon1.png" width="20px">Dividends Countdown: {{dividendTab.endRoundTimeShow}}</p>
				</div>

			</div>
			<div class="modal-footer">
				<div class="ctn-fom-dividens-part">
					<h1>Deposit</h1>
					<input type="text" [ngModel]="user.tokenDepositPending | ethDisplay" name="fomTest" (ngModelChange)="user.tokenDepositPending = $event">
					<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onClickDepositToken();" [disabled]="username==undefined">Deposit</button>
				</div>
				<div class="ctn-fom-dividens-part">
					<h1>Available</h1>
					<input type="text" [ngModel]="user.tokenDeposit | ethDisplay" name="fomTest" disabled>
					<button type="button" class="btn" data-dismiss="modal" (click)="onClickWithdrawToken();" [disabled]="user.tokenDeposit<=0||username==undefined" >Withdraw</button>
				</div>
				<div class="ctn-fom-dividens-part">
					<h1>Metamask wallet</h1>
					<input type="text"  [ngModel]="user.tokenFreeze | ethDisplay" (ngModelChange)="user.tokenFreeze = $event" name="fomTest" >
					<button type="button" class="btn btn-primary" (click)="onClickFreezeToken();" data-dismiss="modal" [disabled]="username==undefined">Freeze</button>
				</div>
				<div class="ctn-fom-dividens-part" >
					<h1>Freezing</h1>
					<input type="text" [ngModel]="user.tokenFreezing | ethDisplay" name="fomTest" disabled>
					<button type="button" class="btn " data-dismiss="modal" (click)="onClickUnfreezeToken();" [disabled]="user.tokenFreezing<=0||username==undefined" >Unfreeze</button>
				</div>
			</div>
		</div>

	</div>
</div>

<!-- content burn -->
<div id="Myburn" class="modal fade" role="dialog" *ngIf="burnTab!=undefined">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title"><img src="assets/images/burn-icon.png">Burn</h4>
			</div>
			<div class="modal-body">
				<div class="ctn-burn-body-part1">
					<a href="#" class="ctn-burn"><img src="assets/images/ctn-conten-icon7.png"></a>
					<h2>Wager Burn Pool</h2>
					<h1>{{burnTab.totalToken | ethDisplay }} DAA</h1>
					<p>DAA in burn pool is not entitled for dividends and will disappear forever after burnt. DAA burn will happen every 2 weeks. </p>
				</div>
			</div>
			<div class="modal-body">
				<div class="ctn-burn-body-part1">
					<a href="#" class="ctn-burn"><img src="assets/images/ctn-conten-icon7.png"></a>
					<h2>Burn DAA</h2>
					<h1>{{burnTab.totalTokenBurned | ethDisplay }} DAA</h1>
					<p>When DAA is burned from the pool, FomoBanking team will simultaneously burn our DAA at a 6:4 ratio. Every month, FomoBanking team will use 20% of monthly profit to buy back DAA from the secondary market and burn.</p>
				</div>
			</div>
			<div class="modal-body">
				<div class="ctn-burn-body-part1">
					<h2>DAA Burn Log</h2>
					<table class="table table-striped">
						<tr>
							<th>Time</th>
							<th>From</th>
							<th>Quantity</th>
							<th>Payout</th>
						</tr>
						<ng-container *ngFor="let history of burnTab.history">
							<ng-container *ngIf="history!=undefined">
							<tr >
								<td>1</td>
								<td>{{history.from==DAAContract?'DAAContract':'Dev'}}</td>
								<td class="tableColor">{{history.value | ethDisplay}} DAA</td>
								<td><a style="color: #fff; text-decoration: none;" target="_blank" rel="noopener noreferrer" href="https://ropsten.etherscan.io/tx/{{history.txhash}}">{{history.txhash | shortDisplay}}</a></td>
							</tr>
							<!-- <tr>
								<td>{{history.date}}</td>
								<td>Dev</td>
								<td class="tableColor">{{history.tokenBurn/3 | ethDisplay}} DAA</td>
								<td>c15f9cc79c...</td>
							</tr> -->
							</ng-container>
						</ng-container>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="MyRegister" class="modal fade" role="dialog">
  	<div class="modal-dialog">
	    <!-- Modal content-->
	    <div class="modal-content">
	      	<div class="modal-header">
	        	<h4 class="modal-title">Add your username to the Blockchain</h4>
	      	</div>
	      	<div class="modal-body">
	      		<div class="ctn-register-body-part1">
	      			<button type="button" class="btn " (click)="onClickRandomName()">Randomize</button>
	      			<input [(ngModel)]="register.username" type="text" name="username" placeholder="TYPE HERE..." (change)="uppercaseUsername();">
	      		</div>
	        	<div class="ctn-register-body-part2">
		        	<h1>Usernames must follow these rules:</h1>
		        	<ul>
		        		<li>Must be unique</li>
		        		<li>4 to 18 Characters</li>
		        		<li>A-Z (uppercase)</li>
		        		<li>Cannot start with number</li>
		        		<li>No special characters</li>
		        		<li>No space between characters</li>
		        	</ul>
		        	<p>If the transaction fails, one of these criteria was not met properly.</p>
		        	<p>Names are yours permanently (for vanity URLS).</p>
		        	<p>Make it good.</p>
	        	</div>
	      	</div>
	      	<div class="modal-footer">
	        	<button type="button" class="btn " (click)="onClickRegister()" data-dismiss="modal" >Register</button>
	      	</div>
	    </div>
  	</div>
</div>